<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <center>
        <h1><%= session["nombreBanda"] %></h1>
    </center>
    <center>
       <h2><%= session["Adivinando"] %> </h2>
     

    </center>

    <center>
        <h2><%= session["nroIntentos"] %> intentos</h2>
    </center>
    <form action="/probar" method="POST">
        <input name="letraAProbar" type="text" />
        <input type="submit" value="OK" name="OK">
    </form>
</body>

</html>